<?xml version="1.0" encoding="utf-8"?>
<settings>
	<setting id="adult_aux_new_password2" value=""/>
	<setting id="adult_aux_new_password1" value=""/>
	<setting id="adult_aux_intro_password" value=""/>
	<setting id="adult_password" value=""/>
	<setting id="downloadlistpath" value="/storage/.alfa/downloads/list"/>
	<setting id="videolibrarypath" value="/storage/.alfa/library"/>
	<setting id="downloadpath" value="/storage/.alfa/downloads"/>
	<setting id="adult_request_password" value="false"/>
	<setting id="thumbnail_type" value="2"/>
	<setting id="resolve_stop" value="true"/>
	<setting id="channel_language" value="all"/>
	<setting id="adult_mode" value="1"/>
	<setting id="default_action" value="2"/>
	<setting id="tmdb_plus_info" value="false"/>
	<setting id="mediaserver_language" value="Spanish"/>
	<setting id="server_stats" value="true"/>
	<setting id="server.port" value="6060"/>
	<setting id="tmdb_cache" value="true"/>
	<setting id="resolve_priority" value="0"/>
	<setting id="settings_path" value="/storage/.alfa/settings_channels"/>
	<setting id="folder_tvshows" value="SERIES"/>
	<setting id="tmdb_threads" value="20"/>
	<setting id="hidepremium" value="false"/>
	<setting id="infoplus" value="true"/>
	<setting id="bookmarkpath" value="/storage/.alfa/favorites"/>
	<setting id="tmdb_cache_expire" value="4"/>
	<setting id="debug" value="false"/>
	<setting id="folder_movies" value="CINE"/>
</settings>
